export(assign.preprocess)
export(assign.mcmc)
export(assign.convergence)
export(assign.summary)
export(assign.cv.output)
export(assign.output)
export(assign.wrapper)
importFrom(gplots, bluered)
importFrom(graphics, boxplot, legend, plot, points)
importFrom(grDevices, dev.off, pdf)
importFrom(msm, rtnorm)
importFrom(Rlab, rbern, rgamma)
importFrom(stats, heatmap, pnorm, rnorm, runif)
importFrom(utils, write.csv)
